* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Circular', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #222222;
  background-color: #fff;
  line-height: 1.5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --airbnb-red: #FF385C;
  --airbnb-red-dark: #E31C5F;
  --airbnb-grey: #717171;
  --airbnb-light-grey: #F7F7F7;
  --airbnb-border: #DDDDDD;
  --airbnb-black: #222222;
}

.main-content {
  min-height: calc(100vh - 80px);
}
